<h1>New Feed</h1>

<%= simple_form_for @feed, url: {action: "create"} do |f| %>
  <%= f.input :name %>
    <br />
  <%= f.input :url %>
    <br />
  <%= f.input :description %>
    <br />
  <%= f.submit "Create Feed" %>
<% end %>
